/* .Signup_Signup {
	position: relative;
    width: 100%;
	height: auto;
	overflow: auto;
	background: rgba(255,255,255,1.00);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.Signup_Signup .image {
	position: absolute;
	left: -3px;
	top: 0px;
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}

}
.Signup_Signup .SignUP {
	position: absolute;
    top: 159px;
	height: 38px;
	color: rgba(255,255,255,1.00);
	font-size: 24px;
	font-weight: 700;
	line-height: 38px;
}
.Signup_Signup .BySigningupyouagreetoourtermsandprivacypolicy {
	position: absolute;
    top: 668px;
	color: rgba(255,255,255,1.00);
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
} */


/* .Signup_Signup .GoogleSignUpbutton {
	position: absolute;
	left: 505px;
	top: 424px;
	width: 432px;
	height: 64px;
}
.Signup_Signup .GoogleSignUpbutton .Rectangle42 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 432px;
	height: 64px;
	background: linear-gradient(0deg, rgba(255,255,255,1.00), rgba(255,255,255,1.00)),linear-gradient(0deg, rgba(255,255,255,1.00), rgba(255,255,255,1.00)),linear-gradient(0deg, rgba(255,255,255,1.00), rgba(255,255,255,1.00));
	border-radius: 5px;
}
.Signup_Signup .GoogleSignUpbutton .SignUpwithGoogle {
	position: absolute;
	left: 96px;
	top: 17px;
	width: 239px;
	height: 38px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(0,0,0,1.00);
	font-family: Noto Sans Tai Tham;
	font-size: 24px;
	font-weight: 500;
	line-height: 38.13600158691406px;
}
.Signup_Signup .GoogleSignUpbutton .image7 {
	position: absolute;
	left: 24px;
	top: 11px;
	width: 43px;
	height: 44px;
	object-fit: cover;
	overflow: hidden;
} */
/* .Signup_Signup .EmailAddress,.password {
	position: absolute;
    width: 350px;
	height: 50px;

    

}

.Signup_Signup .password {
margin-top: 15px;
	

}

.Signup_Signup .LogIn {
	position: absolute;
	left: 1275px;
	top: 65px;
	width: 79px;
	height: 38px;
	display: flex;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,1.00);
	font-size: 24px;
	font-weight: 600;
	line-height: 38.13600158691406px;
} */

/* 
.Next {
    position: absolute;
    display: block; 
	width: 200px;
    background: rgba(255,149,0,1.00);
	height: 45px;
	color: rgba(0,0,0,1.00);
	font-size: 25px;
	line-height: 38px;
    border: none;
    cursor: pointer;
	margin-top: 150px;
} */

.font{
	font-family:Noto Sans Tai Tham;
}

.Bluredrec {
	position: absolute;
	top: 50px;
	width: 989px;
	height: 630px;
	backdrop-filter: blur(7px);
	background: linear-gradient(251.16deg, rgba(20, 20, 20, 0.20) 0%, rgba(20, 20, 20, 0.20) 62.81%, rgba(20, 20, 20, 0.20) 100%);
	border-radius: 10px;
}